@charset "UTF-8";

body{
    font-family: "Hiragino Kaku Gothic Pro","Meiryo","sans-serif";
    font-size: 16px;
    background-color: #F5F5F5;
}

/* ヘッダー */

a{
    text-decoration: none;
    color: #524D4D;
}

.w_inner{
    width: 1200px;
    margin: 0 auto;
    /* position: relative; */
}

.header_1{
    background-image: url(../img/restaurant\ hedder.jpg);
    height: 164px;
}

.logo{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 11px;
}

.logo img{
    width: 172px;
    height: 104px;
}

header nav{
    margin-bottom: 21px;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 87px;
}

header ul li{
    font-size: 20px;
    font-weight: bold;
}

.header_img{
    height: 451px;
}

.header_img img{
    object-fit: cover;
    width: 1200px;
    height: 451px;
}

/* メイン */

main{
    position: relative;
}

.special{
    margin-top: 28px;
}

h2{
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

/* コンセプト */

.container{
    display: flex;
    align-items: center;
}

.col_1 h2{
    margin: 116px 0 0 0;
}

.col_1 h1{
    font-size: 32px;
    margin: 44px 0 0 0;
}

.col_1 p{
    font-size: 19px;
    margin: 44px 0 0 0;
}

.con_btn{
    width: 177px;
    height: 60px;
    margin-top: 40px;
}

.btn{
    background: #fff;
    background-image: url(../img/Arrow\ 1.svg);
    background-position: 85% 45%;
    background-repeat: no-repeat;
    color: #524D4D;
    padding: 18px 62.5px 19px;
    border: 1px solid #524D4D;
    font-weight: bold;
}

.randscape img{
    object-fit: cover;
    width: 100vw;
    height: 451px;
}

/* メニュー */

.container_2{
    display: flex;
    justify-content: center;
    position: relative;
    height: 279px;
}

.col_3{
    flex-grow: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 171px;
}

.col_4{
    margin-left: auto;
}

.col_4 img{
    /* margin-top: 100px; */
}

.container_3{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.menu{
    width: 280px;
    height: 332px;
    background-color: #FAF2E4;
    position: relative;
}

.menu h2{
    text-align: center;
    margin-top: 30px;
}

.menu p{
    text-align: center;
    margin: 32px 11px 0;
    font-size: 14px;
    width: 257px;
}

.menu_img{
    text-align: center;
    margin-top: 17px;
}

.menu img{
    object-fit: cover;
    width: 256px;
    height: 85px;
}

.menu .btn{
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
}

/* パーティー */

.container_4 h2{
    text-align: center;
    margin: 76px 0 0;
}

.container_4 h3{
    text-align: center;
    margin: 36px 0 40px;
}

.party_container{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    
}

.party_container h2{
    margin-top: 43px;
}

.party_container p{
    text-align: center;
    margin: 23px 52px 0;
    font-size: 14px;
    width: 257px;
}

.party_container .btn{
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 28px;
}

.party_item{
    width: 361px;
    height: 260px;
    background-color: #FAF2E4;
    background-image: url(../img/frame.svg);
    background-position: center;
    position: relative;
}

.party_img img{
    object-fit: cover;
    width: 813px;
    height: 260px;
}

/* 写真ギャラリー */

.gallary{
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1545px; */
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

.itary_img img{
    object-fit: cover;
    width: 288px;
    height: 190px;
}

/* ニュース */

.container_5 h2{
    text-align: center;
    margin-top: 95px;
}

.container_5 h3{
    text-align: center;
    margin-top: 29px;
}

.container_5 .btnn{
    text-align: center;
    margin-top: 40px;
}

.container_5 .btn{
    display: inline-block;
}

/* インフォメーション */

.container_6{
    background-image: url(../img/restaurant\ hedder.jpg);
    width: 100vw;
    height: 699px;
    margin-top: 75px;
}

.info_item{
    position: relative;
    top: 80px;
}

/* .container_6 h2:first-child{
    text-align: center;
    position: relative;
    top: 80px;
} */

.container_6 h2{
    text-align: center;
    margin: 35px 0 0 0;
}

.container_6 h3{
    text-align: center;
    margin: 20px 0 0 0;
}

.container_6 h3:nth-of-type(4){
    text-align: center;
    margin: 35px 0 0 0;
}

.container_6 p{
    text-align: center;
    font-size: 16px;
    margin: 12px 0 0 0;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.res{
    margin-top: 18px;
    width: 800px;
    margin: 0 auto;
}

.tel{
    margin-top: 26px;
    width: 950px;
    margin: 26px auto;
}

.tel h2{
    margin: 10px 0 0 0;
}

.ad{
    margin-top: 30px;
}

/* フッター */

.logo_2{
    margin-top: 56px;
    margin-bottom: 10px;
}

.logo_2 img{
    width: 243px;
    height: 147px;
}

footer p{
    margin: 11px 0 0 0;
}

.res_2{
    margin-top: 34px;
}

footer h3{
    margin: 9px 0 0 0;
}

footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: end;
    width: 700px;
    margin: 0;
}

footer ul li a{
    font-weight: bold;
}

.copy{
    display: flex;
    align-items: center;
    background-color: #E1E1E1;
    height: 49px;
    width: auto;
    margin-top: 16px;
}

.copy p{
    font-size: 24px;
}